## sample programme

In [1]:
print("welcome to mstp")

welcome to mstp

In [1]:
n=input()
print(type(n))

kalesha
<class 'str'>

In [3]:
10*20

200

## addition

In [10]:
a=int(input())
b=int(input())
c=a+b
print(c)

87
78
165

## subtraction

In [2]:
a=int(input())
b=int(input())
c=a-b
print(c)

80
87
-7

## multiplication

In [3]:
a=int(input())
b=int(input())
c=a*b
print(c)

87
98
8526

## two stringes combine

In [3]:
a="kalesha "
b="vali"
c=a+b
print(c)

kalesha vali

### conitional statement

In [6]:
a=78
b=88
if a>b:
    print("a is grater")
elif a==b:
    print("both are equal")
else:
    print("b is grater")

b is grater

## gratest of three numbers

In [10]:
a=78
b=87
c=100
if a>b>c:
    print("a is grater")
elif a==b==c:
    print("the numbers are equal")
elif b>a>c:
    print("b is grater")
else:
    print("c is grater")

c is grater

## to create a calendar

In [20]:
import calendar
year=2019
month=9
date=27
c=calendar.month(year,month)
print(c)

   September 2019
Mo Tu We Th Fr Sa Su
                   1
 2  3  4  5  6  7  8
 9 10 11 12 13 14 15
16 17 18 19 20 21 22
23 24 25 26 27 28 29
30

## user input by calender

In [1]:
import calendar
year=int(input("year"))
month=int(input("month"))
c=calendar.month(year,month)
print(c)

year2019
month09
   September 2019
Mo Tu We Th Fr Sa Su
                   1
 2  3  4  5  6  7  8
 9 10 11 12 13 14 15
16 17 18 19 20 21 22
23 24 25 26 27 28 29
30

# loops

In [3]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [4]:
x=["kalesha vali","rajesh"]
for i in x:
    print(i)

kalesha vali
rajesh

In [8]:
x=["mstp","apssdc"]
y=["andhra pradesh skill development center"]
for i in x:
    for j in y:
        print(x,y)

['mstp', 'apssdc'] ['andhra pradesh skill development center']
['mstp', 'apssdc'] ['andhra pradesh skill development center']

# functional concept

## function is A group of statement to perform 
# A function Having

## syntax For Function

In [ ]:
def functionname(parameters):
    return statement
functionname()

In [11]:
def add(x,y):
    c=x+y
    return c
a=10
b=20
add(a,b)

30

In [14]:

def sub(x,y):
    c=x-y
    return c
a=78
b=98
sub(a,b)

-20

## arithmatic operations

In [18]:
def sub(x,y):
    c=(x-y)
    return c
def mul(x,y):
    c=(x*y)
    return c
def div(x,y):
    c=(x/y)
    return c
x=int(input("enter x value"))
y=int(input("enter y value"))

print(sub(x,y))
print(mul(x,y))
print(div(x,y))

enter x value88
enter y value99
-11
8712
0.8888888888888888

## To print The Given Tables

num=int(input("number of table you want"))
print("the multiplication of Given table Is",num)
for i in range(1,11):
    print(num,"x",i,"=",num*i)

# even or odd

In [1]:
def evenodd(x):
    if(x%2==0):
        print("even")
    else:
        print("odd")
evenodd(1)
evenodd(2)

odd
even